---
import "../styles/global.css";
interface Props {
  platform: string;
  username: string;
}
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background-color: #008080;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  a:hover {
    background-color: #004c4c;
  }
</style>
